@charset "UTF-8";
/**
 * @file
 * RTL companion for the styles.scss file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/**
 * @file
 * Normalize-rtl.scss is the RTL language extension of normalize.scss
 */
/**
 * Lists
 */
/* line 9, ../sass/_normalize-rtl.scss */
dd {
  margin: 0 30px 0 0;
}

/* Address paddings set differently in IE 6/7. */
/* line 16, ../sass/_normalize-rtl.scss */
menu,
ol,
ul {
  padding: 0 30px 0 0;
}

/* Layout rules */
/**
 * @file
 * RTL companion for the layout-responsive.css file.
 */
/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*************************************
              佈局
**************************************/
/*************************************
                特效區--按鈕
**************************************/
/*************************************
                特效區--menu
**************************************/
/*************************************
                特效區--圖片
**************************************/
/*************************************
         特效區--三角形
**************************************/
/*************************************
                功能區
**************************************/
/*************************************
                動畫區
**************************************/
/**
 * Generate the carousel animation
 * based on the number of frames
 * and the pourcentage of a frame spent static
 *
 * @param {Number} $n - number of frames
 * @param {Number} $x - percentage of the animation spent static per frame
 * @param {String} $animation-name ('carousel') - animation name
 */
@at-root {
  @keyframes carousel {
    /* line 781, ../sass/_mixin.scss */
    0%, 5% {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
      background-color: #ffccf2;
      filter: blur(0);
    }

    /* line 776, ../sass/_mixin.scss */
    7.77778% {
      background-color: #000;
    }

    /* line 781, ../sass/_mixin.scss */
    10.55556%, 15.55556% {
      -webkit-transform: translateX(-10%);
      -moz-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
      -o-transform: translateX(-10%);
      transform: translateX(-10%);
      background-color: #ffccf2;
      filter: blur(0);
    }

    /* line 776, ../sass/_mixin.scss */
    18.33333% {
      background-color: #000;
    }

    /* line 781, ../sass/_mixin.scss */
    21.11111%, 26.11111% {
      -webkit-transform: translateX(-20%);
      -moz-transform: translateX(-20%);
      -ms-transform: translateX(-20%);
      -o-transform: translateX(-20%);
      transform: translateX(-20%);
      background-color: #ffccf2;
      filter: blur(0);
    }

    /* line 776, ../sass/_mixin.scss */
    28.88889% {
      background-color: #000;
    }

    /* line 781, ../sass/_mixin.scss */
    31.66667%, 36.66667% {
      -webkit-transform: translateX(-30%);
      -moz-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
      -o-transform: translateX(-30%);
      transform: translateX(-30%);
      background-color: #ffccf2;
      filter: blur(0);
    }

    /* line 776, ../sass/_mixin.scss */
    39.44444% {
      background-color: #000;
    }

    /* line 781, ../sass/_mixin.scss */
    42.22222%, 47.22222% {
      -webkit-transform: translateX(-40%);
      -moz-transform: translateX(-40%);
      -ms-transform: translateX(-40%);
      -o-transform: translateX(-40%);
      transform: translateX(-40%);
      background-color: #ffccf2;
      filter: blur(0);
    }

    /* line 776, ../sass/_mixin.scss */
    50% {
      background-color: #000;
    }

    /* line 781, ../sass/_mixin.scss */
    52.77778%, 57.77778% {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #ffccf2;
      filter: blur(0);
    }

    /* line 776, ../sass/_mixin.scss */
    60.55556% {
      background-color: #000;
    }

    /* line 781, ../sass/_mixin.scss */
    63.33333%, 68.33333% {
      -webkit-transform: translateX(-60%);
      -moz-transform: translateX(-60%);
      -ms-transform: translateX(-60%);
      -o-transform: translateX(-60%);
      transform: translateX(-60%);
      background-color: #ffccf2;
      filter: blur(0);
    }

    /* line 776, ../sass/_mixin.scss */
    71.11111% {
      background-color: #000;
    }

    /* line 781, ../sass/_mixin.scss */
    73.88889%, 78.88889% {
      -webkit-transform: translateX(-70%);
      -moz-transform: translateX(-70%);
      -ms-transform: translateX(-70%);
      -o-transform: translateX(-70%);
      transform: translateX(-70%);
      background-color: #ffccf2;
      filter: blur(0);
    }

    /* line 776, ../sass/_mixin.scss */
    81.66667% {
      background-color: #000;
    }

    /* line 781, ../sass/_mixin.scss */
    84.44444%, 89.44444% {
      -webkit-transform: translateX(-80%);
      -moz-transform: translateX(-80%);
      -ms-transform: translateX(-80%);
      -o-transform: translateX(-80%);
      transform: translateX(-80%);
      background-color: #ffccf2;
      filter: blur(0);
    }

    /* line 776, ../sass/_mixin.scss */
    92.22222% {
      background-color: #000;
    }

    /* line 781, ../sass/_mixin.scss */
    95%, 100% {
      -webkit-transform: translateX(-90%);
      -moz-transform: translateX(-90%);
      -ms-transform: translateX(-90%);
      -o-transform: translateX(-90%);
      transform: translateX(-90%);
      background-color: #ffccf2;
      filter: blur(0);
    }
}
}

/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {
 /**
* The layout when there is only one sidebar, the left one.
*/
  /* line 78, ../sass/layouts/_responsive.scss */
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
  /* line 80, ../sass/layouts/_responsive.scss */
  .sidebar-first #content {
    float: right;
    width: 8.33333%;
    margin-right: 4.16667%;
    margin-left: -12.5%;
  }
  /* line 84, ../sass/layouts/_responsive.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 4.16667%;
    margin-right: 0%;
    margin-left: -4.16667%;
  }

 /**
* The layout when there is only one sidebar, the right one.
*/
  /* line 91, ../sass/layouts/_responsive.scss */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 3rd column from left. */
  }
  /* line 93, ../sass/layouts/_responsive.scss */
  .sidebar-second #content {
    float: right;
    width: 83.33333%;
    margin-right: 0%;
    margin-left: -83.33333%;
  }

 /**
* The layout when there are two sidebars.
*/
  /* line 104, ../sass/layouts/_responsive.scss */
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
    /* Start a new row and span all 3 columns. */
  }
  /* line 106, ../sass/layouts/_responsive.scss */
  .two-sidebars #content {
    float: right;
    width: 8.33333%;
    margin-right: 4.16667%;
    margin-left: -12.5%;
  }
  /* line 110, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 4.16667%;
    margin-right: 0%;
    margin-left: -4.16667%;
  }
  /* line 114, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 12.5%;
    margin-right: 0%;
    margin-left: -12.5%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
    /* Apply the shared properties of grid items in a single, efficient ruleset. */
    /* Span 1 column, starting in the 1st column from left. */
    /* Span 1 column, starting in the 2nd column from left. */
    /* Span 1 column, starting in the 3rd column from left. */
  }
  /* line 119, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 123, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: right;
    width: 4.16667%;
    margin-right: 0%;
    margin-left: -4.16667%;
    clear: right;
  }
  /* line 128, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: right;
    width: 4.16667%;
    margin-right: 4.16667%;
    margin-left: -8.33333%;
  }
  /* line 132, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: right;
    width: 4.16667%;
    margin-right: 8.33333%;
    margin-left: -12.5%;
  }
}
/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 768px) {
 /**
* The layout when there is only one sidebar, the left one.
*/
  /* line 149, ../sass/layouts/_responsive.scss */
  .sidebar-first {
    /* Span 4 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
  /* line 151, ../sass/layouts/_responsive.scss */
  .sidebar-first #content {
    float: right;
    width: 16.66667%;
    margin-right: 0%;
    margin-left: -16.66667%;
  }
  /* line 155, ../sass/layouts/_responsive.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 4.16667%;
    margin-right: 0%;
    margin-left: -4.16667%;
  }

 /**
* The layout when there is only one sidebar, the right one.
*/
  /* line 162, ../sass/layouts/_responsive.scss */
  .sidebar-second {
    /* Span 4 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 5th column from left. */
  }
  /* line 164, ../sass/layouts/_responsive.scss */
  .sidebar-second #content {
    float: right;
    width: 83.33333%;
    margin-right: 0%;
    margin-left: -83.33333%;
  }

 /**
* The layout when there are two sidebars.
*/
  /* line 175, ../sass/layouts/_responsive.scss */
  .two-sidebars {
    /* Span 3 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
    /* Span 1 column, starting in 5th column from left. */
  }
  /* line 177, ../sass/layouts/_responsive.scss */
  .two-sidebars #content {
    float: right;
    width: 12.5%;
    margin-right: 4.16667%;
    margin-left: -16.66667%;
  }
  /* line 181, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 4.16667%;
    margin-right: 0%;
    margin-left: -4.16667%;
  }
  /* line 185, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 4.16667%;
    margin-right: 16.66667%;
    margin-left: -20.83333%;
  }
}
@media all and (min-width: 480px) {
  /* line 195, ../sass/layouts/_responsive.scss */
  #content .view-about-us li.views-row {
    clear: right;
  }
  /* line 197, ../sass/layouts/_responsive.scss */
  #content .view-about-us li.views-row .views-field-field-about-us-img {
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
  }
  /* line 200, ../sass/layouts/_responsive.scss */
  #content .view-about-us li.views-row .views-field-field-us-info-content {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }

  /* line 209, ../sass/layouts/_responsive.scss */
  .page-node-3 #content #block-views-latest-news-block-1 {
    float: right;
    width: 75%;
    margin-right: 0%;
    margin-left: -75%;
  }
  /* line 212, ../sass/layouts/_responsive.scss */
  .page-node-3 #content #block-views-latest-news-block-1 ul li.views-row {
    width: 30.66667%;
  }
  /* line 15, ../sass/_mixin.scss */
  .page-node-3 #content #block-views-latest-news-block-1 ul li.views-row:nth-child(n) {
    margin-bottom: 4%;
    margin-right: 4%;
    float: left;
  }
  /* line 20, ../sass/_mixin.scss */
  .page-node-3 #content #block-views-latest-news-block-1 ul li.views-row:nth-child(3n) {
    margin-right: 0;
  }
  /* line 218, ../sass/layouts/_responsive.scss */
  .page-node-3 #content #block-views-shop-page-block-1 {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }
  /* line 223, ../sass/layouts/_responsive.scss */
  .page-node-3 #content #block-views-products-block-1 {
    clear: right;
  }
  /* line 228, ../sass/layouts/_responsive.scss */
  .page-node-3 #content #block-views-products-block-1 ul li.views-row:nth-child(4n+1) {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
  /* line 231, ../sass/layouts/_responsive.scss */
  .page-node-3 #content #block-views-products-block-1 ul li.views-row:nth-child(4n+2) {
    float: right;
    width: 33.33333%;
    margin-right: 29.16667%;
    margin-left: -62.5%;
  }
  /* line 234, ../sass/layouts/_responsive.scss */
  .page-node-3 #content #block-views-products-block-1 ul li.views-row:nth-child(4n+3) {
    clear: right;
    float: right;
    width: 33.33333%;
    margin-right: 29.16667%;
    margin-left: -62.5%;
  }
  /* line 238, ../sass/layouts/_responsive.scss */
  .page-node-3 #content #block-views-products-block-1 ul li.views-row:nth-child(4n) {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }
  /* line 241, ../sass/layouts/_responsive.scss */
  .page-node-3 #content #block-views-products-block-1 ul li.views-row .field-name-title {
    display: none;
  }

  /* line 252, ../sass/layouts/_responsive.scss */
  .view-latest-news ul li.views-row {
    width: 32%;
  }
  /* line 15, ../sass/_mixin.scss */
  .view-latest-news ul li.views-row:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%;
    float: left;
  }
  /* line 20, ../sass/_mixin.scss */
  .view-latest-news ul li.views-row:nth-child(3n) {
    margin-right: 0;
  }

  /* line 258, ../sass/layouts/_responsive.scss */
  .section-latest-news .sidebars {
    float: left;
    width: 16.66667%;
    margin-left: 0%;
    margin-right: -16.66667%;
  }

  /* line 265, ../sass/layouts/_responsive.scss */
  #content .node-latest-news .field-name-field-image {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  /* line 267, ../sass/layouts/_responsive.scss */
  #content .node-latest-news .field-name-field-image img {
    width: 100%;
  }
  /* line 271, ../sass/layouts/_responsive.scss */
  #content .node-latest-news .sharethis-buttons {
    clear: right;
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  /* line 275, ../sass/layouts/_responsive.scss */
  #content .node-latest-news .field-name-body {
    clear: right;
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  /* line 280, ../sass/layouts/_responsive.scss */
  #content .field-name-related-news {
    clear: right;
  }
  /* line 283, ../sass/layouts/_responsive.scss */
  #content .field-name-related-news ul li.views-row {
    width: 24.25%;
  }
  /* line 15, ../sass/_mixin.scss */
  #content .field-name-related-news ul li.views-row:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
    float: left;
  }
  /* line 20, ../sass/_mixin.scss */
  #content .field-name-related-news ul li.views-row:nth-child(4n) {
    margin-right: 0;
  }
  /* line 288, ../sass/layouts/_responsive.scss */
  #content .field-name-shop-block {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /* line 301, ../sass/layouts/_responsive.scss */
  .page-products #content .view-products ul {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 303, ../sass/layouts/_responsive.scss */
  .page-products #content .view-products ul li.views-row {
    width: 32.66667%;
  }
  /* line 15, ../sass/_mixin.scss */
  .page-products #content .view-products ul li.views-row:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
    float: left;
  }
  /* line 20, ../sass/_mixin.scss */
  .page-products #content .view-products ul li.views-row:nth-child(3n) {
    margin-right: 0;
  }

  /* line 317, ../sass/layouts/_responsive.scss */
  .node-products .view-products {
    clear: right;
  }
  /* line 320, ../sass/layouts/_responsive.scss */
  .node-products .view-products ul li.views-row {
    width: 24.25%;
  }
  /* line 15, ../sass/_mixin.scss */
  .node-products .view-products ul li.views-row:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
    float: left;
  }
  /* line 20, ../sass/_mixin.scss */
  .node-products .view-products ul li.views-row:nth-child(4n) {
    margin-right: 0;
  }

  /* line 331, ../sass/layouts/_responsive.scss */
  .page-shop #content .view-shop-page ul li.views-row {
    width: 49.5%;
  }
  /* line 15, ../sass/_mixin.scss */
  .page-shop #content .view-shop-page ul li.views-row:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
    float: left;
  }
  /* line 20, ../sass/_mixin.scss */
  .page-shop #content .view-shop-page ul li.views-row:nth-child(2n) {
    margin-right: 0;
  }

  /* line 341, ../sass/layouts/_responsive.scss */
  .page-node-28 #content #block-block-1 {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
  /* line 344, ../sass/layouts/_responsive.scss */
  .page-node-28 #content #block-webform-client-block-1 {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
  }
}
@media all and (min-width: 481px) and (max-width: 960px) {
  /* line 355, ../sass/layouts/_responsive.scss */
  #content .view-about-us li.views-row {
    clear: right;
  }
  /* line 357, ../sass/layouts/_responsive.scss */
  #content .view-about-us li.views-row .views-field-field-about-us-img {
    text-align: center;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    clear: right;
  }
  /* line 362, ../sass/layouts/_responsive.scss */
  #content .view-about-us li.views-row .views-field-field-us-info-content {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    clear: right;
  }

  /* line 378, ../sass/layouts/_responsive.scss */
  .page-products #content .view-products ul {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 380, ../sass/layouts/_responsive.scss */
  .page-products #content .view-products ul li.views-row {
    width: 49.5%;
  }
  /* line 15, ../sass/_mixin.scss */
  .page-products #content .view-products ul li.views-row:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
    float: left;
  }
  /* line 20, ../sass/_mixin.scss */
  .page-products #content .view-products ul li.views-row:nth-child(2n) {
    margin-right: 0;
  }

  /* line 390, ../sass/layouts/_responsive.scss */
  #content .node-latest-news .field-name-field-image {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  /* line 392, ../sass/layouts/_responsive.scss */
  #content .node-latest-news .field-name-field-image img {
    width: 100%;
  }
  /* line 396, ../sass/layouts/_responsive.scss */
  #content .node-latest-news .sharethis-buttons {
    clear: right;
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  /* line 400, ../sass/layouts/_responsive.scss */
  #content .node-latest-news .field-name-body {
    clear: right;
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  /* line 405, ../sass/layouts/_responsive.scss */
  #content .field-name-related-news {
    clear: right;
  }
  /* line 408, ../sass/layouts/_responsive.scss */
  #content .field-name-related-news ul li.views-row {
    width: 49.5%;
  }
  /* line 15, ../sass/_mixin.scss */
  #content .field-name-related-news ul li.views-row:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
    float: left;
  }
  /* line 20, ../sass/_mixin.scss */
  #content .field-name-related-news ul li.views-row:nth-child(2n) {
    margin-right: 0;
  }
  /* line 413, ../sass/layouts/_responsive.scss */
  #content .field-name-shop-block {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /* line 420, ../sass/layouts/_responsive.scss */
  .view-latest-news ul li.views-row {
    width: 49.5%;
  }
  /* line 15, ../sass/_mixin.scss */
  .view-latest-news ul li.views-row:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
    float: left;
  }
  /* line 20, ../sass/_mixin.scss */
  .view-latest-news ul li.views-row:nth-child(2n) {
    margin-right: 0;
  }

  /* line 427, ../sass/layouts/_responsive.scss */
  .section-latest-news .sidebars {
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
}
@media all and (max-width: 960px) {
  /* line 439, ../sass/layouts/_responsive.scss */
  .node-products .group-left {
    text-align: center;
    width: 100%;
    clear: right;
  }
  /* line 15, ../sass/_mixin.scss */
  .node-products .group-left:nth-child(n) {
    margin-bottom: 0%;
    margin-right: 0%;
    float: left;
  }
  /* line 20, ../sass/_mixin.scss */
  .node-products .group-left:nth-child(1n) {
    margin-right: 0;
  }
  /* line 444, ../sass/layouts/_responsive.scss */
  .node-products .group-right {
    width: 100%;
  }
  /* line 15, ../sass/_mixin.scss */
  .node-products .group-right:nth-child(n) {
    margin-bottom: 0%;
    margin-right: 0%;
    float: left;
  }
  /* line 20, ../sass/_mixin.scss */
  .node-products .group-right:nth-child(1n) {
    margin-right: 0;
  }
  /* line 447, ../sass/layouts/_responsive.scss */
  .node-products .view-products {
    clear: right;
  }
  /* line 450, ../sass/layouts/_responsive.scss */
  .node-products .view-products ul li.views-row {
    width: 49.5%;
  }
  /* line 15, ../sass/_mixin.scss */
  .node-products .view-products ul li.views-row:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
    float: left;
  }
  /* line 20, ../sass/_mixin.scss */
  .node-products .view-products ul li.views-row:nth-child(2n) {
    margin-right: 0;
  }

  /* line 458, ../sass/layouts/_responsive.scss */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
  }
  /* line 460, ../sass/layouts/_responsive.scss */
  .sidebar-second #content {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }

  /* line 466, ../sass/layouts/_responsive.scss */
  .section-latest-news .sidebars {
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
}
/* Component (SMACSS module) rules */
/**
 * @file
 * RTL companion for the modular-styles.css file.
 */
/**
 * Branding header.
 */
/* Wrapping link for logo. */
/* line 11, ../sass/components/_misc-rtl.scss */
.header__logo {
  float: right;
}

/* The secondary menu (login, etc.) */
/* line 16, ../sass/components/_misc-rtl.scss */
.header__secondary-menu {
  float: left;
}

/**
 * Navigation bar.
 */
/* Main menu and secondary menu links and menu block links. */
/* line 27, ../sass/components/_misc-rtl.scss */
#navigation .links,
#navigation .menu {
  text-align: right;
}
/* line 30, ../sass/components/_misc-rtl.scss */
#navigation .links li,
#navigation .menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}

/**
 * Messages.
 */
/* line 41, ../sass/components/_misc-rtl.scss */
.messages, .messages--status, .messages--warning, .messages--error {
  padding: 10px 50px 10px 10px;
  background-position: 99% 8px;
}

/**
 * Tabs.
 */
/* line 58, ../sass/components/_misc-rtl.scss */
.tabs-primary__tab, .tabs-primary__tab.is-active, .tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  float: right;
}

/**
 * Inline styles.
 */
/* List of links */
/* line 77, ../sass/components/_misc-rtl.scss */
.inline li {
  /* Bug in Safari causes display: inline to fail. */
  display: inline-block;
  padding: 0 0 0 1em;
}

/* The inline field label used by the Fences.module */
/* line 84, ../sass/components/_misc-rtl.scss */
span.field-label {
  padding: 0 0 0 1em;
}

/**
 * "More" links.
 */
/* line 91, ../sass/components/_misc-rtl.scss */
.more-link {
  text-align: left;
}

/* line 94, ../sass/components/_misc-rtl.scss */
.more-help-link {
  text-align: left;
}

/* line 97, ../sass/components/_misc-rtl.scss */
.more-help-link a {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}

/**
 * Menus.
 */
/* line 105, ../sass/components/_misc-rtl.scss */
.menu__item.is-collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
}

/**
 * Comments.
 */
/* Nested comments are indented. */
/* line 117, ../sass/components/_misc-rtl.scss */
.indented {
  margin-left: 0;
  margin-right: 30px;
}

/**
 * Forms.
 */
/* Drupal's default login form block */
/* line 127, ../sass/components/_misc-rtl.scss */
#user-login-form {
  text-align: right;
}

/* line 132, ../sass/components/_misc-rtl.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: 0;
  margin-right: -20px;
}

/*
 * Drupal admin tables.
 */
/* line 142, ../sass/components/_misc-rtl.scss */
form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
/* line 155, ../sass/components/_misc-rtl.scss */
html.js .collapsible .fieldset-legend {
  background-position: 98% 75%;
  padding-left: 0;
  padding-right: 15px;
}
/* line 160, ../sass/components/_misc-rtl.scss */
html.js .collapsed .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
  background-position: 98% 50%;
}

/* SMACSS theme rules */
/* @import "theme-A-rtl"; */
/* @import "theme-B-rtl"; */
