//background
body {
    background: #ffffff;
    #header {
        background: #ffff02;
    }
    #page {
        background: #ffff03;
        #content {
            background: #ffff04;
        }
    }
/*    #footer-wrapper {
        background: #ffff05;
    }*/
}

//color
body {
    color: #aaaa04;
    a {
        color: #aaaa05;
    }
    h1 {
        color: #aaaa01;
        a {
            color: #aaaa01!important;
        }
    }
    h2 {
        color: #aaaa02;
        a {
            color: #aaaa02!important;
        }
    }
    #header {
        .header-wrape {
            .header__region {
                .menu {
                    .menu__item {
                        a {
                            color: #aaaa03;
                            &:hover {
                                color: #cccc01;
                            }
                        }
                    }
                }
            }
        }
    }
    #page {
        #content {
            color: #aaaa04;
            a {
                color: #aaaa05;
            }
            a:hover {
                color: #cccc02!important;
            }
        }
    }
    #footer-wrapper {
        color: #aaaa07;
        border-color: #aaaa07;
        a {
            color: #aaaa07;
            &:hover {
                color: #cccc03;
            }
        }
        #footer {
            .menu {
                .menu__item {
                    a {
                        color: #aaaa03;
                        &:hover {
                            color: #cccc01;
                        }
                    }
                }
            }
        }
    }
}
